@{

    Layout = "~/Views/Shared/Layout.cshtml";
}


<!DOCTYPE HTML>
<html lang="zxx">

<head>
	<title>City Guide</title>
	<!-- Meta-Tags -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Design Coming Soon Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
	<script>
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>
	<!-- //Meta-Tags -->
	<!-- css files -->
	<link rel="stylesheet" href="~/web2/css/style.css" type="text/css" media="all" />
	<!-- Style-CSS -->
	<link rel="stylesheet" href="~/web2/css/jquery.countdown.css" />
	<!-- Countdown-CSS -->
	<!-- //css files -->
	<!-- web-fonts -->
	<link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="stylesheet">
	<!-- //web-fonts -->
</head>

<body>
	<div class="video-w3l" data-vide-bg="~/web2/video/1.jpg">
		<div class="agile">
			<div class="container">
				<h1>Çoook Yakında</h1>

				<div class="clear-loading spinner">
					<span></span>
				</div>

				<div class="wthree-info">
					<h2>Geliştirme Aşamasında!</h2>
					<p>Bu Kısım Hala Geliştirme Aşamasında, En Kısa Zamanda Servise Sunacağız...</p>
				</div>
				<!--timer-->
				<div class="examples">
					<div class="simply-countdown-losange" id="simply-countdown-losange"></div>
					<div class="clear"></div>
				</div>
				<!--//timer-->
				<!--newsletter-->
				<div class="newsletter">
					<h2>Gelişmelerden Haberdar Ol</h2>
					<form action="#" method="post" class="newsletter">
						<input class="email" type="email" placeholder="Email Adresi..." required="">
						<input type="submit" class="submit" value="Üye Ol">
					</form>

				</div>
				<!--//newsletter-->
				<!--copyright-->
			
				<!--//copyright-->
			</div>
		</div>
	</div>

	<!-- js -->
	<script src="~/web2/js/jquery-2.1.4.min.js"></script>
	<script src="~/web2/js/jquery.vide.min.js"></script>
	<!-- //js -->
	<!-- Countdown-Timer-JavaScript -->
	<script src="~/web2/js/simplyCountdown.js"></script>
	<!-- easy to customize -->
	<script>
		$('#simply-countdown-losange').simplyCountdown({
			year: 2023,
			month: 09,
			day: 07
		});
	</script>
	<!-- //Countdown-Timer-JavaScript -->

</body>

</html>