
<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>error 404</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords"
          content="Wed Error Page Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!-- //Meta tag Keywords -->
    <link rel="stylesheet" href="~/web/css/style.css" type="text/css" media="all" /><!-- Style-CSS -->
    <link href="~/web/css/font-awesome.css" rel="stylesheet"><!-- font-awesome-icons -->
</head>

<body>
    <section class="error-page">
        <div class="covers-main w3layouts">
            <div class="wrapper">
                <div class="main-cover w3">
                    <h1>
                        <a href="index.html" class="logo">Yolunu Mu Kaybettin</a>
                    </h1>
                    <h4 class="cover-para w3ls">4<span class="fa fa-heart-o" aria-hidden="true"></span>4</h4>
                    <p class="form-text">
                      Aramak istediğin sayfayı bulamadık herşeyi doğru yaptığına emin misin?
                    </p>
                    <a href="/Blog/Index/" class="back-button">Anasayfaya Dön</a>
                </div>
                <div class="copyright text-center">
                    
                </div>
            </div>
        </div>
    </section>
</body>

</html>
