@model IEnumerable<EntityLayer.Concrete.About>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}




<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6 order-md-2">
                <img src="/miniblog/images/FatihSerhatTuran.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-5 mr-auto order-md-1">
                <h2>Biz Kimiz</h2>
                @foreach(var x in Model){
                <p>@x.AboutContent</p>
                }
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("Footer")